
<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>{% block title %}Turnierverwaltung{% endblock %}</title>

    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

<style>
    img
    {
        width:28% !important;
        margin-top:3% !important;
        margin-left: 40% !important;
    }

    ul#side-menu.nav >li>a:hover
    {
        background-color: rgba(150, 34, 34, 0.87) !important;
    }

    ul.nav.navbar-nav >li:hover
    {
        background-color: #f8f8f8 !important;
    }

    .element.style
    {
        color: rgb(116,21,21) !important;
    }

    #bs-example-navbar-collapse-1 {
        background-color: rgba(99, 97, 97,0.9)!important;
    }

    .navbar-default .navbar-brand
    {
        color: white !important;

    }

    .navbar-default .navbar-nav>li>a {
        color: white;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: white;

    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #333;
        background-color: #ddd;
    }

    #bs-example-navbar-collapse-1
    {
        background-color: rgba(208,205,205,1);
    }

    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;

    }



    a{
        color:black;
    }

    a:focus, a:hover {
        color: white;

    }

    .sidebar
    {
        z-index: 1;
        position: absolute;
        margin-top: 0.5px;
        width: 11%;
    }

    #page-wrapper {

        position: inherit;
        margin: 0 0 0 11%;
        padding: 0 0 0 1%;
        border-left: 1px solid #e7e7e7;
    }

    ul.nav.navbar-nav
    {
        margin-left:13%;
    }


    .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        font-size: 150% !important;
        line-height: 20px;
    }

    -webkit-focus-ring-color user agent stylesheet:focus
    {
        outline-color: rgb(170,15,9);
    }
</style>



<body>
    <div id="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid1">
                <div class="navbar-header">
                    <span class="sr-only">Navigation ein-/ausblenden</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                    <!-- Menuepunkt Startseite -->
                    <a class="navbar-brand" href="#" />
                </div>

                <!-- Topmenue -->
                <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Turnier</a></li>
                        <li><a href="#">Benutzer</a></li>
                        <li class="dropdown">
                            <a href="#" class=" dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teilnehmer<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Verein</a></li>
                                <li><a href="#">Mannschaft</a></li>
                                <li><a href="#">Schiedsrichter</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Spielplan<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li role="presentation" class="disabled"><a href="#">Spielplanübersicht</a></li>
                                <li><a href="#">Spielplanerstellung</a></li>
                                <li><a href="#">Ergebniserfassung</a></li>
                                <li><a href="#">Schiedsrichtereinteilung</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Drucken</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"> <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Urkunden</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" >
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>   {{ app.user.username }}   <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="width:100%;">
                                <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>   Einstellungen </a></li>
                                <li><a href="#">  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>   Hilfe </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>   Abmelden </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% block sidecontent %}{% endblock %}

</body>
</html>