<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Turnierverwaltung{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
            'bundles/app/css/*'
            'bundles/app/css/base/*'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default">
            <div class="container-fluid1">
                <div class="navbar-header">
                    <span class="sr-only">Navigation ein-/ausblenden</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                    <!-- Menuepunkt Startseite -->
                    <a class="navbar-brand" href="/"/>
                </div>

                <!-- Topmenue -->
                <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="#">Turnier</a></li>
                        <li><a href="#">Benutzer</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_SR_ERFASSUNG') %}
                        <li class="dropdown">
                            <a href="#" class=" dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teilnehmer<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="#">Verein</a></li>
                                <li><a href="#">Mannschaft</a></li>
                                {% endif %}
                                <li><a href="#">Schiedsrichter</a></li>
                            </ul>
                        </li>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Spielplan<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Spielplanübersicht</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="#">Spielplanerstellung</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ERGEBNIS_ERFASSUNG') %}
                                <li><a href="#">Ergebniserfassung</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_SR_ERFASSUNG') %}
                                <li><a href="#">Schiedsrichtereinteilung</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <li role="separator" class="divider"></li>
                                <li><a href="#"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Drucken</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"> <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Urkunden</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right" >
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>   {{ app.user.username }}   <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="width:100%;">
                                <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>   Einstellungen </a></li>
                                <li><a href="#">  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>   Hilfe </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>   Abmelden </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% block sidecontent %}{% endblock %}

</body>
</html>