{% extends '@App/base_left_menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        'bundles/teilnehmer/css/12_datatable.bootstrap.min.css'
        'bundles/turnierplan/css/13_turnierplan.custom.css'
        'bundles/teilnehmer/css/10_responsive.bootstrap.min.css'
        'bundles/teilnehmer/css/07_bootstrap-select.min.css'
        'bundles/turnierplan/css/20_bootstrap-toggle.min.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        'bundles/teilnehmer/js/10_query.dataTables.min.js'
        'bundles/teilnehmer/js/11_dataTables.bootstrap.min.js'
        'bundles/teilnehmer/js/12_dataTables.responsive.min.js'
        'bundles/teilnehmer/js/13_responsive.bootstrap.min.js'
        'bundles/base/js/08_bootstrap-select.min.js'
        'bundles/turnierplan/js/16_bootstrap-toggle.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}Turnierplan{% endblock %}

{% block heading %}Schiedsrichtereinteilung{% endblock %}

{% block leftMenu %}
    <li>
        <a href=""><p class="fa fa-fw">Spielplanübersicht</p> </a>
    </li>
    <li>
        <a href=""><p class="fa  fa-fw">Spielplanerstellung</p> </a>
    </li>
    <li>
        <a href=""><p class="fa fa-fw">Ergebniseingabe</p></a>
    </li>
    <li>
        <a href=""><p class="fa  fa-fw">Schiedsrichtereint.</p> </a>
    </li>
    <li>
        <a href=""><p class="fa fa-fw">Drucken</p></a>
    </li>
    <li>
        <a href=""><p class="fa fa-fw">Urkunden</p></a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12" style="padding-bottom: 10px;">
            <input id="spielplanTyp" type="checkbox" data-toggle="toggle" data-on="dynamisch" data-off="statisch" data-size="small" name="spielplanTyp">
        </div>
    </div>

    <table class="table display" id="tabelle_benutzer" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Datum/Uhrzeit</th>
            <th>Feld</th>
            <th>Jugend</th>
            <th>Heimmannschaft</th>
            <th>Gastmannschaft</th>
            <th>Schiedsrichter 1</th>
            <th>Schiedsrichter 2</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Datum/Uhrzeit</th>
            <th>Feld</th>
            <th>Jugend</th>
            <th>Heimmannschaft</th>
            <th>Gastmannschaft</th>
            <th>Schiedsrichter 1</th>
            <th>Schiedsrichter 2</th>
        </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>

    <script>
        $(document).ready(function() {

            // Setup - add a text input to each footer cell
            $('#tabelle_benutzer tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="'+ title +'" />' );
            } );

            var oTable = $('#tabelle_benutzer').DataTable({
                "ajax": {
                    "url": "/turnierplan/schiedsrichtereinteilung/api",
                    "data": function ( d ) {
                        d.ausgabeTyp = $('#spielplanTyp').prop('checked');
                    }
                },
                responsive: true,
                "columns": [
                    { "data": "uhrzeit" },
                    { "data": "platz" },
                    { "data": "jugend" },
                    { "data": "heim" },
                    { "data": "gast" },
                    { "data": "sr1"},
                    { "data": "sr2"}
                ],
                "initComplete": function(settings, json) {
                    $('.selectpicker').selectpicker('refresh');
                },
                "drawCallback": function(settings) {
                    $('.selectpicker').selectpicker('refresh');
                }
            });

            // Apply the search
            oTable.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                                .search( this.value )
                                .draw();
                    }
                } );
            } );

            $('input[type=checkbox][name=spielplanTyp]').change(function() {
                oTable.ajax.reload();
            });
        });

        var schiedsrichterId1;
        var schiedsrichterId2;

        $(document).on('change', '.selectpicker', function(i) {

            schiedsrichterId1 = 0;
            schiedsrichterId2 = 0;

            var target = i.target;
            var column = target.parentNode.parentNode;
            var columnId = $(column).attr('id');
            var row = column.parentNode;
            var schiedsrichter1 = row.children[5].children[0].children[2];
            var schiedsrichter2 = row.children[6].children[0].children[2];


            for(var i = 1; i < schiedsrichter2.length; i++)
            {
                if(schiedsrichter2[i].selected == true)
                {
                    schiedsrichterId2 = target[i].value;
                }
            }

            for(var i = 1; i < schiedsrichter1.length; i++)
            {
                if(schiedsrichter1[i].selected == true)
                {
                    schiedsrichterId1 = target[i].value;
                }
            }

            if(schiedsrichterId1 == undefined)
            {
                schiedsrichterId1 = 0;
            }
            else if (schiedsrichterId2 == undefined)
            {
                schiedsrichterId2 = 0;
            }

            var rowId = $(row).attr('id');

            $.ajax({
                type: "POST",
                url: "/turnierplan/schiedsrichtereinteilung/edit",
                data: {
                    schiedsrichterId1,
                    schiedsrichterId2,
                    rowId
                },
            });
        });
        </script>
{% endblock %}